<!--{% for datas in result %}-->
<!--{% if datas %}-->
<!--{{ datas }}<br>-->
<!--{% endif %}-->
<!--{% endfor %}-->
{{ context }}

firstname: {{ firstname }}<br>
secondname: {{ secondname }}<br>
fathername: {{ fathername }}<br>
permanentaddress: {{ permanentaddress }}<br>
country: {{ country }}<br>
city: {{ city }}<br>
zip: {{ zip }}<br>
certification: {{ certification }}<br>
skillset: {{ skillset }}<br>
schoolname: {{ schoolname }}<br>
sslce: {{ sslce }}<br>
sslcs: {{ sslcs }}<br>
pucollege: {{ pucollege }}<br>
pucs: {{ pucs }}<br>
puce: {{ puce }}<br>
degreecollege: {{ degreecollege }}<br>
degrees: {{ degrees }}<br>
degreee: {{ degreee }}<br>
DOB: {{ DOB }}<br>

<h3> <input type="button" name="download" value="download"></h3>