<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REMOVE</title>
</head>
<body bgcolor="cyan">
<center>
<H1>THE PHONEBOOK CONATINS</H1>
        <table border="solid">
        <tr>
        <th>Name</th>
        <th>phoneNo</th>
        <th>Email</th>
            </tr>
    {% for i in c%}
        <tr>
        <td>{{i.name}}</td>
      <td>{{i.phoneno}}</td>
      <td>{{i.email}}</td>
    {% endfor %}

        </tr>
        </table>
    <form method="POST">
            {% csrf_token %}
    <input type="text" name="delphone" placeholder="Enter phone number to delete">
    <input type="submit" name="delete" value="delete">
        </form>
</center>
</body>
</html>