<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<center>
<form method="post">
    {% csrf_token %}

    <label>FirstName</label>
    {{form.firstname}}<br><br>
    <label>LastName</label>
    {{form.lastname}}<br><br>
    <label>Email ID</label>
    {{form.email}}<br><br>
    <label>Mobile</label>
    {{form.mobile}}<br><br>
    <label>Password</label>
    {{form.password1}}<br><br>
    <label>Confirm Password</label>
    {{form.password2}}<br><br>
    <input type="submit" name="register" value="register" ><br>
    <a href="login">Already have an account!!!</a>
    <br><br>
    {% for i in messages %}
    {{i}}
    {% endfor %}
</form>

</center>
</body>
</html>